.DS_Store
*.pb.cc
*.pb.h
plugin/python/protocol_pb2.py
Makefile
cmake_install.cmake
*.so
*.so.*
*.log
libtransport_test
CMakeFiles
CMakeScripts
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
**/*build/**
**/Debug/**
libtransport.xcodeproj
spectrum2
transport_config.h
Doxyfile
moc_*
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
*.patch
*.orig
spectrum2_manager
dfrotz
spectrum2_frotz_backend
spectrum2_libcommuni_backend
spectrum2_libpurple_backend
spectrum2_skype_backend
spectrum2_smstools3_backend
spectrum2_swiften_backend
spectrum2_template_backend
spectrum2_twitter_backend
install_manifest.txt
slack.cfg
*.sqlite
localhost.port
*.a
core.*
*.pyc
