<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Spectrum 2 : Spectrum 2 transports" />

    <link href="http://spectrum.im/css/style.css" rel="stylesheet" type="text/css" media="all">

    <title>Spectrum 2</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/hanzz/libtransport">View on GitHub</a>

          <h1 id="project_title">Spectrum 2</h1>
          <h2 id="project_tagline">Spectrum 2 XMPP transports</h2>

			<section id="menu">
			<a class="menuitem" href="http://spectrum.im">About</a>
			<a class="menuitem" href="http://spectrum.im/documentation">Documentation</a>
			<a class="menuitem" href="http://spectrum.im/download">Download</a>
			<a class="menuitem" href="http://spectrum.im/discussion">Discussion</a>
			</section>
<!--             <section id="downloads"> -->
				
<!--               <a class="zip_download_link" href="https://github.com/hanzz/libtransport/zipball/master">Download this project as a .zip file</a> -->
<!--               <a class="tar_download_link" href="https://github.com/hanzz/libtransport/tarball/master">Download this project as a tar.gz file</a> -->
<!--             </section> -->
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Spectrum 2 maintained by <a href="https://github.com/hanzz">Jan Kaluza - HanzZ</a></p>
      </footer>
    </div>

    

  </body>
</html>
